/caprice/.idea/
/caprice/.gradle/
/caprice/.DS_Store/
/caprice/gradle/
/caprice/build/
/caprice/blur/build/
/caprice/kit/build/
/caprice/res/build/
/caprice/ui/build/
/caprice/sample/build/
/caprice/local.properties
/caprice/gradlew
/caprice/gradlew.bat

/steady/.idea/
/steady/.gradle/
/steady/.DS_Store/
/steady/gradle/
/steady/build/
/steady/library/build/
/steady/sample/build/
/steady/local.properties
/steady/gradlew
/steady/gradlew.bat

*.iml
