/caprice/.idea/
/caprice/.gradle/
/caprice/.DS_Store/
/caprice/gradle/
/caprice/build/
/caprice/library/build/
/caprice/sample/build/
/caprice/local.properties
/caprice/gradlew
/caprice/gradlew.bat

/steady/.idea/
/steady/.gradle/
/steady/.DS_Store/
/steady/gradle/
/steady/build/
/steady/library-ui/build/
/steady/library-kit/build/
/steady/sample-ui/build/
/steady/sample-kit/build/
/steady/local.properties
/steady/gradlew
/steady/gradlew.bat

*.iml
