/develop-second/build/
/develop-second/library/build/
/develop-second/sample/build/
/develop-second/.idea/
/develop-second/.gradle/
/develop-second/local.properties


/develop-third/build/
/develop-third/library-ui/build/
/develop-third/library-kit/build/
/develop-third/sample-ui/build/
/develop-third/sample-kit/build/
/develop-third/.idea/
/develop-third/.gradle/
/develop-third/local.properties


*.iml