<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Download - Genius-Android</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../favicon.ico" sizes="32x32" />
    <link rel="icon" href="../favicon.ico" sizes="64x64" />
    <link rel="icon" href="../favicon.ico" sizes="128x128" />

    <link media="all" rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
    <link media="all" rel="stylesheet" type="text/css" href="../assets/styles/simditor.css" />

    <script type="text/javascript" src="../assets/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/scripts/mobilecheck.js"></script>
    <script type="text/javascript">
        if(mobilecheck()){
            $('<link/>', {
                media: 'all',
                rel: 'stylesheet',
                type: 'text/css',
                href: '../assets/styles/mobile.css'
            }).appendTo('head')
        }
    </script>
</head>
<body>

<div class="wrapper">
    
<header>
	<h1><a href="../.">Genius-Android</a></h1>
	<p class="desc">Android is also Genius</p>
</header>
<nav>
	<a href="../.">Index</a>
	<a href="../second/second-module.html">STEADY</a>
	<a href="../third/third-menu.html">CAPRICE</a>
	<a href="../views/about.html">About</a>
	<a href="../views/download.html" class="active">Get Me</a>
</nav>

    <section id="page-single" id="page-download">
    <article class="editor-style">
        <h2 id="caprice-branch">CAPRICE Branch:</h2>

<p>In the development…</p>

<h2 id="steady-branch">STEADY Branch:</h2>

<p><strong>Get library</strong></p>

<ul>
  <li><code>Star</code> and <code>Fork</code> this project.</li>
  <li>Gradle:</li>
</ul>

<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">dependencies</span> <span class="p">{</span>
  <span class="nx">compile</span> <span class="s1">'com.github.qiujuer:genius:2.4.0'</span>
<span class="p">}</span></code></pre></div>

<ul>
  <li>Maven:</li>
</ul>

<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="o">&lt;</span><span class="nx">dependency</span><span class="o">&gt;</span>
    <span class="o">&lt;</span><span class="nx">groupId</span><span class="o">&gt;</span><span class="nx">com</span><span class="p">.</span><span class="nx">github</span><span class="p">.</span><span class="nx">qiujuer</span><span class="o">&lt;</span><span class="sr">/groupId</span><span class="err">&gt;
</span>    <span class="o">&lt;</span><span class="nx">artifactId</span><span class="o">&gt;</span><span class="nx">genius</span><span class="o">&lt;</span><span class="sr">/artifactId</span><span class="err">&gt;
</span>    <span class="o">&lt;</span><span class="nx">version</span><span class="o">&gt;</span><span class="mf">2.4</span><span class="p">.</span><span class="mi">0</span><span class="o">&lt;</span><span class="sr">/version</span><span class="err">&gt;
</span><span class="o">&lt;</span><span class="sr">/dependency&gt;</span></code></pre></div>

<p><strong>Update Log</strong></p>

<ul>
  <li>Version: <code>2.4.0</code></li>
  <li>Date: <code>2015-03-02</code></li>
  <li>Log: <a href="https://github.com/qiujuer/Genius-Android/wiki/SteadyNotes"><code>Notes</code></a></li>
</ul>


    </article>	
</section>
    
<footer>
	&copy; <a href="http://www.qiujuer.net/"> COPYRIGHT QIUJUER 2013 - 2015</a>
</footer>


    <a href="https://github.com/qiujuer/Genius-Android" id="link-fork">
        <img src="../assets/images/fork.png" alt="Fork me on GitHub" />
    </a>
</div>


</body>
</html>

