<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.qiujuer.sample.genius">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BlurActivity"
            android:label="@string/title_activity_blur"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".KitActivity"
            android:label="@string/title_activity_kit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SeekBarActivity"
            android:label="@string/title_activity_seek"
            android:theme="@style/AppTheme" />
    </application>

</manifest>