<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.qiujuer.genius.kit">

    <application android:allowBackup="true">
        <service
            android:name=".command.CommandService"
            android:enabled="true"
            android:exported="false"
            android:process="net.qiujuer.genius.kit.command.CommandService">
            <intent-filter>
                <action android:name="net.qiujuer.genius.kit.command.ICommandInterface" />
            </intent-filter>
        </service>
    </application>

</manifest>
