<div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
        More Information
    </div>
    <ul class="mdl-mega-footer--link-list">
        <li><a href="http://www.qiujuer.net/">About Qiujuer</a></li>
        <li><a href="https://github.com/qiujuer/Genius-Android/issues">FQA</a></li>
        <li><a href="https://github.com/qiujuer/Genius-Android/pulls">Pull</a></li>
        <li><a href="https://github.com/qiujuer/Genius-Android/wiki">Wiki</a></li>
        <li><a href="https://github.com/qiujuer/Genius-Android/releases">Releases</a></li>
        <li><a href="http://genius.qiujuer.net/"> COPYRIGHT QIUJUER 2013 - 2016</a></li>
    </ul>
</div>