
<header>
	<h1><a href="{{ page.root }}.">Genius-Android</a></h1>
	<p class="desc">Android is also Genius</p>
</header>
<nav>
	<a href="{{ page.root }}."{% if page.id == 'index' %} class="active"{% endif %}>Index</a>
	<a href="{{ page.root }}second/second-module.html"{% if page.id contains 'second' %} class="active"{% endif %}>STEADY</a>
	<a href="{{ page.root }}third/third-menu.html"{% if page.id contains 'third' %} class="active"{% endif %}>CAPRICE</a>
	<a href="{{ page.root }}views/about.html"{% if page.id == 'about' %} class="active"{% endif %}>About</a>
	<a href="{{ page.root }}views/download.html"{% if page.id == 'download' %} class="active"{% endif %}>Get Me</a>
</nav>
