<header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect ">
        <a href="#welcome" class="mdl-layout__tab is-active">Welcome</a>
        <a href="#guide" class="mdl-layout__tab">Start</a>
        <a href="#lib-ui" class="mdl-layout__tab">UI</a>
        <a href="#lib-res" class="mdl-layout__tab">Res</a>
        <a href="#lib-kit" class="mdl-layout__tab">Kit</a>
        <a href="#lib-blur" class="mdl-layout__tab">Blur</a>
        <a href="#about" class="mdl-layout__tab">About</a>
    </div>
</header>