<aside>
	<ul>
		<li{% if page.id == 'second-module' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}second/second-module.html">Modules</a>
		</li>
		<li{% if page.id == 'second-screenshot' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}second/second-screenshot.html">Screenshots</a>
		</li>
		<li{% if page.id == 'second-method' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}second/second-method.html">Methods</a>
		</li>
		<li{% if page.id == 'second-notes' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}second/second-notes.html">Notes</a>
		</li>
	</ul>
</aside>

