---
layout: default
id: index
---

<div class="mdl-layout__tab-panel is-active" id="welcome">
    <section class="section--center mdl-grid mdl-grid--no-spacing">
        {% include welcome.html %}
    </section>
</div>
<div class="mdl-layout__tab-panel" id="guide">
    <section class="section--center mdl-grid mdl-grid--no-spacing">
        {% include guide.html %}
    </section>
</div>
<div class="mdl-layout__tab-panel" id="lib-ui">
    <section class="section--center mdl-grid mdl-grid--no-spacing">
        {% include lib-ui.html %}
    </section>
</div>
<div class="mdl-layout__tab-panel" id="lib-res">
    <section class="section--center mdl-grid mdl-grid--no-spacing">
        {% include lib-res.html %}
    </section>
</div>
<div class="mdl-layout__tab-panel" id="lib-kit">
    <section class="section--center mdl-grid mdl-grid--no-spacing">
        {% include lib-kit.html %}
    </section>
</div>
<div class="mdl-layout__tab-panel" id="lib-blur">
    <section class="section--center mdl-grid mdl-grid--no-spacing">
        {% include lib-blur.html %}
    </section>
</div>
<div class="mdl-layout__tab-panel" id="about">
    <section class="section--center mdl-grid mdl-grid--no-spacing">
        {% include about.html %}
    </section>
</div>